# .env.local
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyD1JHEAtAYeTFNHnKpOXVdL6RLex2G15wo"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="lhumos-db.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="lhumos-db"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="lhumos-db.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="573050642101"
NEXT_PUBLIC_FIREBASE_APP_ID="1:573050642101:web:ddcc25effe1bbf56ece8fc"